<form asp-action="Index">
    <input type="text" name="FullName" placeholder="Enter fullname"/>
    <input type="text" name="LuongCB" placeholder="Enter luong co ban "/>
    <input type="text" name="HsLuong" placeholder="Enter he so luong"/>
    <input type="text" name="PhuCap" placeholder="Enter phu cap "/>
    <input type="submit" value="Send"/>
</form>
// tran thi mai anh - 2021050093
<h1>@ViewBag.TinhLuong</h1>
// TinhLuong -MVC